*{
    padding: 0rem;
    margin: 0rem;
}
img{
    width: 100%;
    height: 100%;
}
.background-image{
    z-index: -1;
    position: fixed;
    margin-top: 0px;
    top: 0;
    left: 0;
    float: right;
}
.container{
    width: 68.66666666%;
    margin: 0 auto;
}
.light-color{
    color: #ccc;
}
.light-font{
    font-weight: 300;
}
.small-font{
    font-size: 1rem;
}
.p1{
    padding: 1rem 0;
}
.p2{
    padding: 1.5rem 0;
}
.p3{
    padding: 2rem 0;
}
.p4{
    padding: 3rem 0;
}

.btn{
    background-color: $primary-color;
    color: $secondary-color;
    padding: 1rem 1.7rem ;
    display: inline-block;
}
.btn:hover{
    opacity: 0.9;
    transition: all 0.2s;
    cursor: pointer;
}

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    