#navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    color: white;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
}
#navbar p{
        font-size: 1.2rem;   
        padding: 2rem;
    }
ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
}
ul li:hover{
    color: #fff;
    cursor: pointer;
}