*{
    padding: 0rem;
    margin: 0rem;
}
img{
    width: 100%;
    height: 100%;
}
.background-image{
    z-index: -1;
    position: fixed;
    margin-top: 0px;
    top: 0;
    left: 0;
    float: right;
}
.container{
    width: 68.66666666%;
    margin: 0 auto;
}
.light-color{
    color: #ccc;
}
.light-font{
    font-weight: 300;
}
.small-font{
    font-size: 1rem;
}
.p1{
    padding: 1rem 0;
}
.p2{
    padding: 1.5rem 0;
}
.p3{
    padding: 2rem 0;
}
.p4{
    padding: 3rem 0;
}
.btn{
    background-color: #5385C1;
    color: #FFFFFE;
    padding: 1rem 1.7rem ;
    display: inline-block;
}
.btn:hover{
    opacity: 0.9;
    transition: all 0.2s;
    cursor: pointer;
}
#navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    color: white;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
}
#navbar p{
        font-size: 1.2rem;   
        padding: 2rem;
    }
ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
}
ul li:hover{
    color: #fff;
    cursor: pointer;
}
.showcase{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 12rem;
    color: #fff;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
}
.showcase .header{
        font-size: 4rem;
        color: #fff;
        font-weight: 100;    
        font-family:"Raleway", Arial, Helvetica, sans-serif;
    }
.showcase p{
        padding: 0.8rem;
    }
.cards-section{
    background-color: #FFFFFE;
    width:100%;
    font-family:"Raleway", Arial, Helvetica, sans-serif;    
}
.cards-section .row{
        padding: 4rem 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;
    }
.cards-section .row .card{
            text-align: left;
            padding:0rem 4rem;
        }
.cards-section .row .card .detail{
                color: #aaa;
            }
.cards-section .row .card p{
                display: inline-block;
            }
.cards-section .row .card .large{
                color: #5385C1;
                font-size: 1.5rem;
                font-weight: 300;
            }
.cards-section .row .border{
                border-left:solid 2px #eee;
                border-right:solid 2px #eee;
        }
.member-section{
    box-sizing: border-box;
    text-align: center;
    padding: 6rem;
    width: 100%;
    background-color: #5385C1;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
}
.member-section .header{
        color: #fff;
        font-size: 3rem;
        font-weight: lighter;
    }
.member-section p{
        color: #eee;
        padding: 0.5rem;
    }
.member-section .member-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem 0;
        box-sizing: border-box;
    }
.member-section .member-cards .card{
            max-width:21%;
            border: solid 1px #aaa;
        }
.member-section .member-cards .card img{
                padding: 2rem;
                box-sizing: border-box;
                max-width: 90%;
                height: 75%;
                border-radius: 100%;
            }
.member-section .member-cards .card span{
                padding-bottom: 3rem;
                color: #ccc;
            }
.gallery{
    width: 100%;
    text-align: center;
    padding: 6rem;
    box-sizing: border-box;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
    background-color: #FFFFFE;
    width:100%;
}
.gallery .header{
        color:#5385C1;
        font-size: 3rem;
        font-weight: lighter;
    }
.gallery .caption{
        padding: 1.5rem 0;
    }
.gallery p{
        padding: 0.5rem;
        color: #999;
    }
.gallery .images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3rem;
    }
.gallery .images .card{
            text-align: left;
            color:#5385C1;
        }
.gallery .images .card img{
                max-width: 100%;
            }
.gallery .images .card .head{
                color: #5385C1;
                font-size: 1.5rem;
            }
.gallery .images .card p{
                padding: 1rem 0;
            }
.footer{
    width: 100%;
    background-color: #FFFFFE;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
}
.footer .content{
        display: flex;
        justify-content: space-between;
    }
.footer .content .icons ul li{
                    display: inline-block;
                    color:#5385C1;
                    font-size: 1.2rem;
                }



























