*{
    padding: 0rem;
    margin: 0rem;
}
img{
    width: 100%;
    height: 100%;
}
.background-image{
    z-index: -1;
    position: fixed;
    margin-top: 0px;
    top: 0;
    left: 0;
    float: right;
}
.container{
    width: 68.66666666%;
    margin: 0 auto;
}
.main-container{
    height: 1500rem;
}
.white-color{
    color: #fff;
}
.light-color{
    color:#ccc;
}
.light-font{
    font-weight: 100;
}
#navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    color: white;
}
#navbar p{
        font-size: 1.2rem;   
        padding: 2rem;
    }
ul li{
    list-style-type: none;
    display: inline-block;
    padding: 1rem;
}
ul li:hover{
    color: #fff;
    cursor: pointer;
}
body{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}





























