.member-section{
    box-sizing: border-box;
    text-align: center;
    padding: 6rem;
    width: 100%;
    background-color: $primary-color;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
    .header{
        color: #fff;
        font-size: 3rem;
        font-weight: lighter;
    }
    p{
        color: #eee;
        padding: 0.5rem;
    }
    .member-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem 0;
        box-sizing: border-box;
        .card{
            max-width:21%;
            border: solid 1px #aaa;
            img{
                padding: 2rem;
                box-sizing: border-box;
                max-width: 90%;
                height: 75%;
                border-radius: 100%;
            }
            span{
                padding-bottom: 3rem;
                color: #ccc;
            }
        }
    }
}

































