.gallery{
    width: 100%;
    text-align: center;
    padding: 6rem;
    box-sizing: border-box;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
    background-color: $secondary-color;
    width:100%;
    .header{
        color:$primary-color;
        font-size: 3rem;
        font-weight: lighter;
    }
    .caption{
        padding: 1.5rem 0;
    }
    p{
        padding: 0.5rem;
        color: #999;
    }
    .images{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3rem;
        .card{
            text-align: left;
            color:$primary-color;
            img{
                max-width: 100%;
            }
            .head{
                color: $primary-color;
                font-size: 1.5rem;
            }
            p{
                padding: 1rem 0;
            }
        }
    }
}