.cards-section{
    background-color: $secondary-color;
    width:100%;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
    .row{
        padding: 4rem 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1rem;
        .card{
            .detail{
                color: #aaa;
            }
            text-align: left;
            padding:0rem 4rem;
            p{
                display: inline-block;
            }
            .large{
                color: $primary-color;
                font-size: 1.5rem;
                font-weight: 300;
            }
        }
        .border{
                border-left:solid 2px #eee;
                border-right:solid 2px #eee;
        }
    }    
}