.showcase{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 12rem;
    color: #fff;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
    .header{
        font-size: 4rem;
        color: #fff;
        font-weight: 100;    
        font-family:"Raleway", Arial, Helvetica, sans-serif;
    }
    p{
        padding: 0.8rem;
    }
}






























