.footer{
    width: 100%;
    background-color: $secondary-color;
    font-family:"Raleway", Arial, Helvetica, sans-serif;
    .content{
        display: flex;
        justify-content: space-between;
        .icons{
            ul{
                li{
                    display: inline-block;
                    color:$primary-color;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

































